    <!-- <footer class="row expanded color-overlay dark">
      <div class="text-center large-10 about">
        <div class="large-3 text-center column">
          <div class="portrait">
            <img src="images/profile-800.jpg">
          </div>
          <div id="connect" class="icons">
            <p class="sub">Connect</p>
            <a target="_blank" href="https://linkedin.com/in/michaelnreynolds">
              <svg class="icon" viewBox="0 0 30 30" width="100%" height="100%"><g transform="translate(0 .057)"><path fill-rule="evenodd" d="M3.77.262C1.688.262 0 1.932 0 3.992s1.688 3.73 3.77 3.73 3.77-1.67 3.77-3.73S5.852.262 3.77.262"></path></g><path d="M.685 29.738h6.13V10.253H.685M23.83 9.64c-2.445-.132-4.81 0-7.31 3.326v-2.713h-5.875v19.485H16.8v-9.87c0-1.357.458-4.828 3.644-4.828 2.822 0 3.104 2.593 3.104 4.23v10.45h6.19V16.996c0-1.875-.558-6.955-5.907-7.354"></path></svg>
            </a>
            <a target="_blank" href="https://github.com/michaelreynolds">
              <svg class="icon" width="100%" height="100%" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
            </a>
            <a target="_blank" href="https://dribbble.com/michaelreynolds">
              <svg class="icon" viewBox="0 0 21 20" width="100%" height="100%"><path d="M14.787 16.402c-.346-1.793-.824-3.55-1.425-5.248 1.472-.214 3.037-.115 4.67.295-.392 2.045-1.587 3.81-3.245 4.95m-4.404 1.364c-1.74 0-3.347-.57-4.644-1.536.445-.688 1.4-1.968 2.894-3.088.925-.692 1.918-1.217 2.964-1.57.66 1.835 1.17 3.747 1.517 5.7-.85.32-1.773.494-2.735.494M2.596 9.98c0-.046 0-.092.002-.138.352.012.702.02 1.046.02 1.92 0 3.716-.19 5.358-.57.513-.117 1.01-.254 1.494-.408.154.334.304.67.448 1.012-1.197.412-2.33 1.016-3.386 1.806-1.527 1.143-2.562 2.43-3.146 3.276-1.133-1.352-1.816-3.095-1.816-4.998m4.318-6.973c.525.65 1.34 1.746 2.226 3.27.186.32.367.646.543.975-.383.115-.777.218-1.18.31-1.712.382-3.613.546-5.665.487C3.402 5.833 4.913 4 6.914 3.003m3.47-.814c1.84 0 3.53.64 4.862 1.707-.456.54-1.302 1.343-2.548 2.066-.414.24-.85.46-1.31.66-.222-.424-.453-.842-.69-1.253C9.95 4.094 9.25 3.09 8.705 2.376c.54-.12 1.1-.182 1.677-.182m7.78 7.435c-1.9-.44-3.73-.504-5.46-.19-.166-.404-.34-.8-.52-1.195.542-.24 1.06-.507 1.55-.798 1.285-.766 2.208-1.61 2.783-2.265.97 1.236 1.57 2.772 1.646 4.446M10.385 0c-5.522 0-10 4.477-10 10s4.478 10 10 10c5.524 0 10-4.477 10-10s-4.476-10-10-10"></path></svg>
            </a>
            <a target="_blank" href="https://medium.com/@mreynolds">
              <svg class="icon" viewBox="0 0 34 28" width="100%" height="100%"><path d="M11.026 5.227c0-.02-.037-.074-.055-.092L1.535.405C1.274.278 1.016.13.72.13.222.13 0 .553 0 1.015V22.07c0 .555.406 1.22.923 1.48l8.59 4.302c.184.093.387.148.608.148.63 0 .907-.536.907-1.108V5.227zm1.182 1.865v11.082l9.863 4.913-9.86-15.995zm20.89.333l-9.974 16.198 8.145 4.063c.257.148.552.24.866.24.61 0 .96-.425.96-1.034V7.425zm-.056-2.217c0-.055-.037-.092-.074-.11L22.976.11c-.147-.073-.314-.11-.48-.11-.388 0-.757.185-.96.517L15.55 10.25l7.205 11.71c.738-1.182 10.287-16.678 10.287-16.752z"></path></svg>
            </a>
          </div>
        </div>
        <div id="about" class="large-7 column text-left">
          <h5>About Me</h5>
          <p>I am an outcome-focused product designer who delivers high-quality products that solve user pains. I have led design projects from ideation to launch, collaborating with talented people along the way. I am passionate about designing and delivering delightful user experiences by quickly and frictionlessly satisfying their needs.</p>
          <p>I approach life with curiosity, honesty, and kindness. I'm always looking for ways to improve, learn, and grow. </p>
          <p>Annoyingly curious. Lighthearted goober. Sometimes mischievous. Spreader of kindness. Perceptive observer. Always growing. Listening deep.</p>
        </div>
        <div class="clearfix"></div>
        <div class="text-center large-11 connect">
          <p class="info"><span>&copy; <script>document.write(new Date().getFullYear());</script> Michael Reynolds. </span>
          Crafted and hosted on Github.</a></p>
        </div>
      </div>
    </footer> -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J94LXHC22E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J94LXHC22E');
    </script>
