
        # <%= partial "nav" %> used to include

        <!-- nav partial -->
        <!-- <nav class="row small-12 small-centered medium-12 large-10 medium-centered x-large-centered animated fadeIn" style="animation-delay: .5s;"> -->
          <!-- <div class="responsivemenu show-for-small hide-for-large">
            <ul class="hamburger">
              <li class="first"></li>
              <li class="second"></li>
              <li class="third"></li>
            </ul>
          </div> -->

          <!-- <ul class="nav responsive small-large-text-left">
            <a href="/" class="logotype">Michael Reynolds</a>
            <li class="right"><a href="#projects">Case Studies</a></li>
          </ul> -->
        <!-- </nav> -->
