
        <!-- nav partial -->
        <nav class="row small-12 small-centered medium-12 large-10 medium-centered x-large-centered animated fadeIn" style="animation-delay: .5s;">
          <div class="responsivemenu show-for-small hide-for-large">
            <ul class="hamburger">
              <li class="first"></li>
              <li class="second"></li>
              <li class="third"></li>
            </ul>
          </div>

          <ul class="nav responsive small-large-text-left">
            <a href="/" class="left logotype">Michael Reynolds</a>
            <li class="right"><a href="#connect">Connect</a></li>
            <li class="right"><a href="#about">About</a></li>
            <li class="right"><a href="https://medium.com/@mreynolds" target="_blank">Thoughts <!-- Ideas, Thoughts, Journal  --></a></li>
            <li class="right"><a href="#projects">Projects <!-- Results, Work, Portfolio,  --></a></li>
          </ul>
        </nav>
