---
title: Michael Reynolds | Product Designer
---

    <header class="cover row expanded intro">

      <div class="color-overlay blue intro">
        <div class="content animated fadeInDown">
          <div class="row">
            <div class="centered small large">
              <h5>Hi! I’m Michael, an annoyingly curious product designer. 😜</h5>
              <h3>I'm passionate about <span class="strikethrough">software</span> helping people.</h3>
              <p>I turn frustrating user experiences into efficient ones by creating solutions that satisfy user needs as quick and frictionless as possible.</p>
              <div class="cta">
                <a class="button blue" href="https://michaelreynolds.design">See Case Studies →</a>
                <!-- <a class="button blue" href="https://www.linkedin.com/in/michaelnreynolds/" target="_blank">LinkedIn</a> -->
              </div>
            </div>
          </div>
        </div>
        <div>
          <a href="#about">
            <span class="arrow bounce"></span>
            <span class="locator">More About Me</span>
          </a>
        </div>
      </div>

    </header>
