---
title: Michael Reynolds | Product and UX Designer
---


    <header class="cover row expanded intro">
      <div class="color-overlay blue intro">

        <%= partial "nav" %>

        <div class="content animated fadeInDown">
          <div class="row">
            <div class="small-10 large-8 x-large-uncentered small-centered text-center large-text-left">
              <h1 class="show-for-large">Hi, I'm a Product and UX Designer</h1>
              <h1 class="show-for-medium-only">Hi, I'm a Product<br/>and UX Designer</h1>
              <h1 class="show-for-small-only">Hi, I'm a Product<br/>and UX Designer</h1>

              <h3 class="show-for-large">I build elegant products with a pen &amp; code.</h3>
              <h3 class="show-for-medium-only">I build elegant products<br/> with a pen &amp; code.</h3>
              <h5 class="show-for-small-only">I build elegant products<br/> with a pen &amp; code.</h5>

              <h5 class="subhead">Interested in working together?</h5>
              <a href="mailto:hello@michaelreynolds.net?subject=Tell me more!" class="button inverse blue">Let's get in touch!</a>
            </div>
          </div>
        </div>

        <div>
          <a href="#projects">
            <span class="arrow bounce"></span>
            <span class="locator" href="#projects">Explore</span>
          </a>
        </div>
      </div>
    </header>

    <!-- <section id="projects" class="container cover muted">
      <div class="content color-overlay muted">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <h2>Giving App</h2>
          <h3>SaaS Donor Management</h3>
          <p>Explore the newly designed web app.</p>
            <a class="button inverse muted" href="https://cargocollective.com/michaelreynolds/Giving-App">Explore project →</a>
        </div>
      </div>
    </section>

    <section class="container cover blue">
      <div class="content color-overlay blue">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <h2>Box Clinic</h2>
          <h3>Internal Patient Management Software</h3>
          <p>Explore the clinic paitent management web application.</p>
          <a class="button inverse blue" href="https://cargocollective.com/michaelreynolds/Clinic-Registration">Explore project →</a>
        </div>
      </div>
    </section>

    <section class="container cover disciples">
      <div class="content color-overlay muted">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <h2>Disciples Mobile App</h2>
          <h3>SaaS Customer Relationship Manager</h3>
          <p>Explore the redesigned experience and mobile app.</p>
            <a class="button inverse muted" href="https://cargocollective.com/michaelreynolds/Disciples-Mobile-App">Explore project →</a>
        </div>
      </div>
    </section> -->

    <section id="projects" class="container cover grey">
      <div class="content color-overlay muted">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <h2>Product Design</h2>
          <!-- <h3>UX Research, Product Design and Prototypes</h3> -->
          <p>Explore product design and user experience design projects.</p>
          <a class="button inverse muted" href="https://cargocollective.com/michaelreynolds/">Explore projects →</a>
        </div>
      </div>
    </section>

    <section class="container cover light">
      <div class="content color-overlay light">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <h2>Other Design</h2>
          <p>Explore additional branding, marketing and idenity projects.</p>
          <a class="button inverse light" href="https://cargocollective.com/michaelreynolds">Explore projects →</a>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="content color-overlay gray">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">

          <h2>All Projects</h2>
          <!-- <h3>Explore the creativity</h3> -->
          <p>Explore all the projects while they are in the process of migrating here.</p>
          <a class="button inverse gray" href="https://cargocollective.com/michaelreynolds">Explore all projects →</a>
        </div>
      </div>
    </section>
