---
title: Michael Reynolds | Product and UX Designer
---


    <header class="cover row expanded">
      <div class="color-overlay orange">

        <%= partial "nav" %>

        <div class="content animated fadeInDown">
          <div class="row">
            <!-- <div class="small-10 medium-10 large-6 x-large-uncentered small-centered text-center large-text-left">
              <h1 class="show-for-large">Hi, I'm a Product and UX Designer</h1>
              <h1 class="show-for-medium-only">Hi, I'm a Product<br/>and UX Designer</h1>
              <h1 class="show-for-small-only">Hi, I'm a Product<br/>and UX Designer</h1>

              <h3 class="show-for-large">I build elegant products with a pen &amp; code.</h3>
              <h3 class="show-for-medium-only">I build elegant products<br/> with a pen &amp; code.</h3>
              <h5 class="show-for-small-only">I build elegant products<br/> with a pen &amp; code.</h5>

              <h5 class="subhead">Interested in working together?</h5>
              <a href="mailto:hello@michaelreynolds.net?subject=Tell me more!" class="button inverse blue">Let's get in touch!</a>
            </div> -->
          </div>
        </div>

        <!-- <div>
          <a href="#projects">
            <div class="arrow bounce"></div>
            <span class="locator" href="#projects">See More</p>
          </a>
        </div> -->
      </div>
    </header>

    <section class="container">
      <div class="content content-full gray color-overlay">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <a name="projects"></a>
          <h1>Projects</h1>
          <!-- <h3>Explore the creativity</h3> -->
          <p>Explore all the projects while they are in the process of migrating here.</p>
          <a class="button inverse gray" href="http://michaelreynolds.net">Explore all projects →</a>
        </div>
      </div>
    </section>

    <section class="container">
      <a name="projects"></a>
      <div class="content content-full dark color-overlay">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <h1>Projects</h1>
          <h3>A user-intent driven interface</h3>
          <p>Explore all the projects here while they are in the process of migrating here.</p>
            <a class="button inverse dark" href="http://michaelreynolds.net">Explore all projects →</a>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="content content-full light">
        <div class="textblock large-6 medium-9 small-10 small-centered text-center large-centered x-large-centered">
          <h1>Projects</h1>
          <h3>A user-intent driven interface</h3>
          <p>Explore all the projects here while they are in the process of migrating here.</p>
          <a class="button inverse blue" href="http://michaelreynolds.net">Explore all projects →</a>
        </div>
      </div>
    </section>
